In [6]:
fruits = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])

In [7]:
fruits

   Apples  Bananas
0      30       21

In [8]:
fruit_sales = pd.DataFrame([[35, 21], [41, 34]], columns=['Apples', 'Bananas'],
                index=['2017 Sales', '2018 Sales'])

In [9]:
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [10]:
ingredients = pd.Series(
    {
        "Flour": "4 cups",
        "Milk": "1 cup",
        "Eggs": "2 large",
        "Spam": "1 can"
    },
    name="Dinner"
)

In [11]:
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [14]:
reviews = pd.read_csv('results.csv', index_col=0)

In [15]:
reviews

,time,train/box_loss,train/cls_loss,train/dfl_loss,metrics/precision(B),metrics/recall(B),metrics/mAP50(B),metrics/mAP50-95(B),val/box_loss,val/cls_loss,val/dfl_loss,lr/pg0,lr/pg1,lr/pg2
epoch,,,,,,,,,,,,,,
1,1377.12,0.92683,3.01268,1.29447,0.82979,0.20143,0.34406,0.23228,0.97668,3.84033,1.36804,0.000366,0.000366,0.000366
2,2691.81,0.98687,2.04577,1.31826,0.79823,0.43413,0.42313,0.28179,1.12759,2.92449,1.54880,0.000700,0.000700,0.000700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,26816.30,0.59747,0.64801,1.06062,0.83849,0.62336,0.65009,0.50974,0.73186,0.79943,1.19158,0.000121,0.000121,0.000121
20,28089.60,0.57815,0.61103,1.05809,0.84200,0.60896,0.63785,0.50951,0.72767,0.81954,1.17724,0.000066,0.000066,0.000066